//
   Created by Cody on 1/6/16.

.row
    .ibox.float-e-margins
        .ibox-title
            h5 Free Play Question
            div(ibox-tools='')
        .ibox-content
            div
                .wrapper.wrapper-content.animated.fadeInRight
                    .row
                        form(role='form', action='/freeplaySubmit', method = 'POST')
                            input(type='hidden', value=questionID, name='questionId')
                            .col-sm-6.b-r
                                h3.m-t-none.m-b #{question.category}
                                p
                                    p #{question.questionText}
                                    div
                                        button.btn.btn-sm.btn-primary.pull-right.m-t-n-xs(type='submit')
                                            strong Submit Answer
                            .col-sm-6
                                .ibox.float-e-margins
                                    .ibox-content
                                        .list-group
                                            a.list-group-item(href='#')
                                                h3.list-group-item-heading A
                                                input(type='radio', name='answer', value='a')
                                                p.list-group-item-text
                                                    | #{question.answers.a}
                                            a.list-group-item(href='#')
                                                h3.list-group-item-heading B
                                                input(type='radio', name='answer', value='b')
                                                p.list-group-item-text
                                                    | #{question.answers.b}
                                            a.list-group-item(href='#')
                                                h3.list-group-item-heading C
                                                input(type='radio', name='answer', value='c')
                                                p.list-group-item-text
                                                    | #{question.answers.c}
                                            a.list-group-item(href='#')
                                                h3.list-group-item-heading D
                                                input(type='radio', name='answer', value='d')
                                                p.list-group-item-text
                                                    | #{question.answers.d}