doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title INSPINIA | Main view
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='font-awesome/css/font-awesome.css', rel='stylesheet')
        link(href='css/animate.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
    body
        #wrapper
            nav.navbar-default.navbar-static-side(role='navigation')
                .sidebar-collapse
                    ul#side-menu.nav
                        li.nav-header
                            .dropdown.profile-element
                                a.dropdown-toggle(data-toggle='dropdown', href='#')
                                    span.clear
                                        span.block.m-t-xs
                                            strong.font-bold David Williams
                                        span.text-muted.text-xs.block
                                            | Art Director
                                            b.caret
                                ul.dropdown-menu.animated.fadeInRight.m-t-xs
                                    li
                                        a(href='#') Logout
                            .logo-element
                                | IN+
                        li.active
                            a(href='index.html')
                                i.fa.fa-th-large
                                span.nav-label Main view
                        li
                            a(href='freeplay.html')
                                i.fa.fa-th-large
                                span.nav-label Free Play
                        li
                            a(href='settings.html')
                                i.fa.fa-th-large
                                span.nav-label settings
            #page-wrapper.gray-bg
                .row.border-bottom
                    nav.navbar.navbar-static-top.white-bg(role='navigation', style='margin-bottom: 0')
                        .navbar-header
                            a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
                                i.fa.fa-bars
                            form.navbar-form-custom(role='search', method='post', action='#')
                                .form-group
                                    input#top-search.form-control(type='text', placeholder='Search for something...', name='top-search')
                        ul.nav.navbar-top-links.navbar-right
                            li
                                a(href='#')
                                    i.fa.fa-sign-out
                                    |  Log out
                .wrapper.wrapper-content.animated.fadeInRight
                    .row
                        .col-lg-6
                            .ibox.float-e-margins
                                .ibox-title
                                    h5 Total
                                    div(ibox-tools='')
                                .ibox-content
                                    div
                                        canvas#TotalChart(height='140')
                        .col-lg-6
                            .row
                                .col-lg-4
                                    .ibox.float-e-margins
                                        .ibox-title
                                            h5 Pie
                                            div(ibox-tools='')
                                        .ibox-content
                                            div
                                                canvas#CUChart(height='140')
                                .col-lg-4
                                    .ibox.float-e-margins
                                        .ibox-title
                                            h5 Pie
                                            div(ibox-tools='')
                                        .ibox-content
                                            div
                                                canvas#CUChart2(height='140')
                                .col-lg-4
                                    .ibox.float-e-margins
                                        .ibox-title
                                            h5 Pie
                                            div(ibox-tools='')
                                        .ibox-content
                                            div
                                                canvas#CUChart3(height='140')
                            .row
                                .col-lg-4
                                    .ibox.float-e-margins
                                        .ibox-title
                                            h5 Pie
                                            div(ibox-tools='')
                                        .ibox-content
                                            div
                                                canvas#CUChart4(height='140')
                                .col-lg-4
                                    .ibox.float-e-margins
                                        .ibox-title
                                            h5 Pie
                                            div(ibox-tools='')
                                        .ibox-content
                                            div
                                                canvas#CUChart5(height='140')
                                .col-lg-4
                                    .ibox.float-e-margins
                                        .ibox-title
                                            h5 Pie
                                            div(ibox-tools='')
                                        .ibox-content
                                            div
                                                canvas#CUChart6(height='140')
                .footer
                    .pull-right
                        | 10GB of
                        strong 250GB
                        |  Free.
                    div
                        strong Copyright
                        |  Example Company &copy; 2014-2015
        // Mainly scripts
        script(src='js/jquery-2.1.1.js')
        script(src='js/bootstrap.min.js')
        script(src='js/plugins/metisMenu/jquery.metisMenu.js')
        script(src='js/plugins/slimscroll/jquery.slimscroll.min.js')
        // Custom and plugin javascript
        script(src='js/inspinia.js')
        script(src='js/plugins/pace/pace.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js')
        script(type='text/javascript').
            var ctx = document.getElementById("TotalChart").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(totalData)}, !{JSON.stringify(totalOptions)});
            var ctx = document.getElementById("CUChart").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(CUData)}, !{JSON.stringify(SectionOptions)});
            var ctx = document.getElementById("CUChart2").getContext("2d");
            var myNewChart2 = new Chart(ctx).Doughnut(!{JSON.stringify(Civil_Rights_and_Liberites_Data)}, !{JSON.stringify(SectionOptions)});
            var ctx = document.getElementById("CUChart3").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(Political_Beliefs_and_Behaviors_Data)}, !{JSON.stringify(SectionOptions)});
            var ctx = document.getElementById("CUChart4").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(Linkage_Institutions_Data)}, !{JSON.stringify(SectionOptions)});
            var ctx = document.getElementById("CUChart5").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(Public_Policy_Data)}, !{JSON.stringify(SectionOptions)});
            var ctx = document.getElementById("CUChart6").getContext("2d");
            var myNewChart2 = new Chart(ctx).Doughnut(!{JSON.stringify(Institutions_of_National_Government_Data)}, !{JSON.stringify(SectionOptions)});
