//
   Created by beckyedithbrooker on 7/19/15.
doctype html
html
   //Head
   include ./includes/head.jade
   body
      #wrapper
         //side bar
         include ./includes/teacherNavigationBar.jade
         #page-wrapper.gray-bg
            //top bar
            include ./includes/topBar.jade
            .wrapper.wrapper-content.animated.fadeInRight
               //feedback
               .ibox.float-e-margins
                  .ibox-title
                     h5 Student Performance List
                     if (Category !== null)
                        h5 &nbsp;in #{Category}
                     .ibox-tools
                        a.collapse-link
                           i.fa.fa-chevron-up
                  .ibox-content
                     table.table.table-hover
                        thead
                           tr
                              th <br />#
                              th <br />Student Username
                              th Precent of<br />Questions Mastered
                        tbody
                           each studentObject, index in studentsList
                              a(href='/teacherDrilldown/student/#{studentObject.email}')
                                 tr
                                    td #{index+1}
                                    td
                                       a(href='/teacherDrilldown/student/#{studentObject.email}')
                                          p #{studentObject.email}
                                    td #{studentObject.totalMastery}
            //footer
            include ./includes/footer.jade
      // Mainly scripts
      script(src='js/jquery-2.1.1.js')
      script(src='js/bootstrap.min.js')
      script(src='js/plugins/metisMenu/jquery.metisMenu.js')
      script(src='js/plugins/slimscroll/jquery.slimscroll.min.js')
      // Custom and plugin javascript
      script(src='js/inspinia.js')
      script(src='js/plugins/pace/pace.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js')
//
   Created by alexf4 on 2/18/16.

