//
   Created by alexf4 on 6/8/15.

doctype html
html
   head
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/animate.css')
      link(rel='script', href='/js/plugins/chartjs/Chart.min.js')
      title Hello
   body
       .wrapper.wrapper-content.animated.fadeInRight
           .row
               .col-lg-6
                   .ibox.float-e-margins
                       .ibox-title
                           h5 Total
                           div(ibox-tools='')
                       .ibox-content
                           div
                               canvas#TotalChart(height='140')
               .col-lg-6
                   .row
                      .col-lg-4
                         .ibox.float-e-margins
                            .ibox-title
                               h5 Pie
                               div(ibox-tools='')
                            .ibox-content
                               div
                                  canvas#CUChart(height='140')
                      .col-lg-4
                         .ibox.float-e-margins
                            .ibox-title
                               h5 Pie
                               div(ibox-tools='')
                            .ibox-content
                               div
                                   canvas#CUChart2(height='140')
                      .col-lg-4
                         .ibox.float-e-margins
                            .ibox-title
                               h5 Pie
                               div(ibox-tools='')
                            .ibox-content
                                div
                                   canvas#CUChart3(height='140')
                   .row
                       .col-lg-4
                           .ibox.float-e-margins
                               .ibox-title
                                   h5 Pie
                                   div(ibox-tools='')
                               .ibox-content
                                   div
                                       canvas#CUChart4(height='140')
                       .col-lg-4
                           .ibox.float-e-margins
                               .ibox-title
                                   h5 Pie
                                   div(ibox-tools='')
                               .ibox-content
                                   div
                                       canvas#CUChart5(height='140')
                       .col-lg-4
                           .ibox.float-e-margins
                               .ibox-title
                                   h5 Pie
                                   div(ibox-tools='')
                               .ibox-content
                                   div
                                       canvas#CUChart6(height='140')
           .row
               h5 Top 3 missed questions in class
               .col-md-4
                   h4 What was the main conflict between Federalists and Antifederalists?
                   h6 10 students missed this
               .col-md-4
                   h4 Who is the mayor of crazy town
                   h6 8 students missed this
               .col-md-4
                   h4 What is the War Powers Resolution
                   h6 6 students missed this
      script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js')
      script(src="js/plugins/slimscroll/jquery.slimscroll.min.js")
      script(type='text/javascript').
         var ctx = document.getElementById("TotalChart").getContext("2d");
         var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(totalData)}, !{JSON.stringify(totalOptions)});
         var ctx = document.getElementById("CUChart").getContext("2d");
         var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(CUData)}, !{JSON.stringify(CUOptions)});
         var ctx2 = document.getElementById("CUChart2").getContext("2d");
         var myNewChart2 = new Chart(ctx2).Doughnut(!{JSON.stringify(CUData)}, !{JSON.stringify(CUOptions)});
         var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(totalData)}, !{JSON.stringify(totalOptions)});
         var ctx = document.getElementById("CUChart3").getContext("2d");
         var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(CUData)}, !{JSON.stringify(CUOptions)});
         var ctx2 = document.getElementById("CUChart4").getContext("2d");
         var myNewChart2 = new Chart(ctx2).Doughnut(!{JSON.stringify(CUData)}, !{JSON.stringify(CUOptions)});
         var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(totalData)}, !{JSON.stringify(totalOptions)});
         var ctx = document.getElementById("CUChart5").getContext("2d");
         var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(CUData)}, !{JSON.stringify(CUOptions)});
         var ctx2 = document.getElementById("CUChart6").getContext("2d");
         var myNewChart2 = new Chart(ctx2).Doughnut(!{JSON.stringify(CUData)}, !{JSON.stringify(CUOptions)});

