doctype html
html
    //Head
    include ./includes/head.jade
    body
        #wrapper
            //navegation bar
            include ./includes/teacherNavigationBar.jade
            #page-wrapper.gray-bg
                include ./includes/topBar.jade
                .wrapper.wrapper-content.animated.fadeInRight
                    //Main Charts
                    include ./includes/charts.jade
                    //shows tables side by side for larger screen
                    .visible-lg
                        .row
                            .col-lg-6
                                .ibox.float-e-margins
                                    .ibox-title
                                        h5 Top 10 Missed Questions
                                        .ibox-tools
                                            a.collapse-link
                                                i.fa.fa-chevron-up
                                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                                i.fa.fa-wrench
                                            ul.dropdown-menu.dropdown-user
                                                li
                                                    a(href='#') Config option 1
                                                li
                                                    a(href='#') Config option 2
                                            a.close-link
                                                i.fa.fa-times
                                    .ibox-content
                                        .row
                                            .col-sm-5.m-b-xs
                                                select.input-sm.form-control.input-s-sm.inline
                                                    option(value='0') Option 1
                                                    option(value='1') Option 2
                                                    option(value='2') Option 3
                                                    option(value='3') Option 4
                                            .col-sm-4.m-b-xs
                                                .btn-group(data-toggle='buttons')
                                                    label.btn.btn-sm.btn-white
                                                        input#option1(type='radio', name='options')
                                                        |  Day
                                                    label.btn.btn-sm.btn-white.active
                                                        input#option2(type='radio', name='options')
                                                        |  Week
                                                    label.btn.btn-sm.btn-white
                                                        input#option3(type='radio', name='options')
                                                        |  Month
                                            .col-sm-3
                                                .input-group
                                                    input.input-sm.form-control(type='text', placeholder='Search')
                                                    span.input-group-btn
                                                        button.btn.btn-sm.btn-primary(type='button')  Go!
                                        .table-responsive
                                            table.table.table-hover
                                                thead
                                                    tr
                                                        th Question
                                                        th Mastered
                                                        th Missed
                                                tbody
                                                    - for (var i=0;i<10;i++)
                                                        - if(questions[i]!=null)
                                                            tr
                                                                td #{questions[i].questionString}
                                                                td #{questions[i].questionMastered}
                                                                td #{questions[i].questionMissed}
                            .col-lg-6
                                .ibox.float-e-margins
                                    .ibox-title
                                        h5 Student Performance List
                                        .ibox-tools
                                            a.collapse-link
                                                i.fa.fa-chevron-up
                                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                                i.fa.fa-wrench
                                            ul.dropdown-menu.dropdown-user
                                                li
                                                    a(href='#') Config option 1
                                                li
                                                    a(href='#') Config option 2
                                    .ibox-content
                                        table.table.table-hover
                                            thead
                                                tr
                                                    th <br />#
                                                    th <br />Student Username
                                                    th Precent of<br />all mastered
                                            tbody
                                                each studentObject, index in studentsList
                                                    tr
                                                        td #{index+1}
                                                        td #{studentObject.email}
                                                        td #{studentObject.totalMastery}
                    //shows two tables not side by side for smaller screens
                    .hidden-lg
                        .row
                            .col-sm-12
                                .ibox.float-e-margins
                                    .ibox-title
                                        h5 Top 10 Missed Questions
                                        .ibox-tools
                                            a.collapse-link
                                                i.fa.fa-chevron-up
                                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                                i.fa.fa-wrench
                                            ul.dropdown-menu.dropdown-user
                                                li
                                                    a(href='#') Config option 1
                                                li
                                                    a(href='#') Config option 2
                                            a.close-link
                                                i.fa.fa-times
                                    .ibox-content
                                        .row
                                            .col-sm-5.m-b-xs
                                                select.input-sm.form-control.input-s-sm.inline
                                                    option(value='0') Option 1
                                                    option(value='1') Option 2
                                                    option(value='2') Option 3
                                                    option(value='3') Option 4
                                            .col-sm-4.m-b-xs
                                                .btn-group(data-toggle='buttons')
                                                    label.btn.btn-sm.btn-white
                                                        input#option1(type='radio', name='options')
                                                        |  Day
                                                    label.btn.btn-sm.btn-white.active
                                                        input#option2(type='radio', name='options')
                                                        |  Week
                                                    label.btn.btn-sm.btn-white
                                                        input#option3(type='radio', name='options')
                                                        |  Month
                                            .col-sm-3
                                                .input-group
                                                    input.input-sm.form-control(type='text', placeholder='Search')
                                                    span.input-group-btn
                                                        button.btn.btn-sm.btn-primary(type='button')  Go!
                                        .table-responsive
                                            table.table.table-hover
                                                thead
                                                    tr
                                                        th Question
                                                        th Mastered
                                                        th Missed
                                                tbody
                                                    - for (var i=0;i<10;i++)
                                                        - if(questions[i]!=null)
                                                            tr
                                                                td #{questions[i].questionString}
                                                                td #{questions[i].questionMastered}
                                                                td #{questions[i].questionMissed}
                        .row
                            .col-lg-12
                                .ibox.float-e-margins
                                    .ibox-title
                                        h5 Student Performance List
                                        .ibox-tools
                                            a.collapse-link
                                                i.fa.fa-chevron-up
                                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                                i.fa.fa-wrench
                                            ul.dropdown-menu.dropdown-user
                                                li
                                                    a(href='#') Config option 1
                                                li
                                                    a(href='#') Config option 2
                                    .ibox-content
                                        table.table.table-hover
                                            thead
                                                tr
                                                    th <br />#
                                                    th <br />Student Username
                                                    th Precent of<br />all mastered
                                            tbody
                                                each studentObject, index in studentsList
                                                    tr
                                                        td #{index + 1}
                                                        td #{studentObject.email}
                                                        td #{studentObject.totalMastery}
                .footer
                    .pull-right
                        | 10GB of
                        strong 250GB
                        |  Free.
                    div
                        strong Copyright
                        |  Example Company &copy; 2014-2015
        // Mainly scripts
        script(src='js/jquery-2.1.1.js')
        script(src='js/bootstrap.min.js')
        script(src='js/plugins/metisMenu/jquery.metisMenu.js')
        script(src='js/plugins/slimscroll/jquery.slimscroll.min.js')
        // Custom and plugin javascript
        script(src='js/inspinia.js')
        script(src='js/plugins/pace/pace.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js')
        script(type='text/javascript').
            var ctx = document.getElementById("TotalChart").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(totalData)}, !{JSON.stringify(totalOptions)});

            var ctx = document.getElementById("CUChart").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(CUData)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart2").getContext("2d");
            var myNewChart2 = new Chart(ctx).Doughnut(!{JSON.stringify(Civil_Rights_and_Liberties_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart3").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(Political_Beliefs_and_Behaviors_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart4").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(Linkage_Institutions_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart5").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(Public_Policy_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart6").getContext("2d");
            var myNewChart2 = new Chart(ctx).Doughnut(!{JSON.stringify(Institutions_of_National_Government_Data)}, !{JSON.stringify(SectionOptions)});

            //to have for smaller screens

            var ctx = document.getElementById("CUChart-xs").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(CUData)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart2-xs").getContext("2d");
            var myNewChart2 = new Chart(ctx).Doughnut(!{JSON.stringify(Civil_Rights_and_Liberties_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart3-xs").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(Political_Beliefs_and_Behaviors_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart4-xs").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(Linkage_Institutions_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart5-xs").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(Public_Policy_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart6-xs").getContext("2d");
            var myNewChart2 = new Chart(ctx).Doughnut(!{JSON.stringify(Institutions_of_National_Government_Data)}, !{JSON.stringify(SectionOptions)});
