doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title INSPINIA | Main view
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='font-awesome/css/font-awesome.css', rel='stylesheet')
        link(href='css/animate.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')
    body
        #wrapper
            nav.navbar-default.navbar-static-side(role='navigation')
                .sidebar-collapse
                    ul#side-menu.nav
                        li.nav-header
                            .dropdown.profile-element
                                a.dropdown-toggle(data-toggle='dropdown', href='#')
                                    span.clear
                                        span.block.m-t-xs
                                            strong.font-bold Teacher name or email
                                        span.text-muted.text-xs.block
                                            | temp
                                            b.caret
                                ul.dropdown-menu.animated.fadeInRight.m-t-xs
                                    li
                                        a(href='/signout') Logout
                            .logo-element
                                | IN+
                        li.active
                            a(href='/teacher')
                                i.fa.fa-th-large
                                span.nav-label Main view
                        li
                            a(href='/teacher')
                                i.fa.fa-th-large
                                span.nav-label Student Analysis
                        li
                            a(href='/teacher')
                                i.fa.fa-th-large
                                span.nav-label Question Analysis
                        li
                            a(href='/teacher')
                                i.fa.fa-th-large
                                span.nav-label Manage Students
            #page-wrapper.gray-bg
                .row.border-bottom
                    nav.navbar.navbar-static-top.white-bg(role='navigation', style='margin-bottom: 0')
                        .navbar-header
                            a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
                                i.fa.fa-bars
                            form.navbar-form-custom(role='search', method='post', action='#')
                                .form-group
                                    input#top-search.form-control(type='text', placeholder='Search for something...', name='top-search')
                        ul.nav.navbar-top-links.navbar-right
                            li
                                a(href='/signout')
                                    i.fa.fa-sign-out
                                    |  Log out
                .wrapper.wrapper-content.animated.fadeInRight
                    .row
                        .col-lg-6
                            .panel.panel-primary
                                .panel-heading.text-center
                                    | Total
                                .panel-body
                                    .div
                                        canvas#TotalChart(height='190')
                            //.ibox.float-e-margins
                            //    .ibox-title
                            //        h5 Total
                            //        div(ibox-tools='')
                            //    .ibox-content
                            //        div
                            //            canvas#TotalChart(height='140')
                        .col-lg-6
                            .hidden-xs
                                .row
                                    .col-sm-4
                                       .panel.panel-primary
                                           .panel-heading.text-nowrap.text-center
                                               |Constitutional<br />Underpinnings
                                           .panel-body
                                               .div
                                                   canvas#CUChart(height='220')
                                       //.panel.panel-primary
                                       //     .panel.panel-primary
                                       //         .panel-heading
                                       //             | Linkage Institutions
                                       //         .panel-body
                                       //             .div
                                       //                 canvas#CUChart4(height='200')
                                    .col-sm-4
                                        .panel.panel-primary
                                            .panel-heading.text-nowrap.text-center
                                                | Civil Rights<br />and Liberties
                                            .panel-body
                                                .div
                                                    canvas#CUChart2(height='220')
                                        //.panel.panel-primary
                                        //    .panel.panel-primary
                                        //        .panel-heading
                                        //            | Public Policy
                                        //        .panel-body
                                        //            .div
                                        //                canvas#CUChart5(height='200')
                                    .col-sm-4
                                        .panel.panel-primary
                                            .panel-heading.text-nowrap.text-center
                                                | Political Beliefs<br />and Behaviors
                                            .panel-body
                                                .div
                                                    canvas#CUChart3(height='220')
                                        //.panel.panel-primary
                                        //    .panel.panel-primary
                                        //        .panel-heading
                                        //            | Institutions of National Government
                                        //        .panel-body
                                        //            .div
                                        //                canvas#CUChart6(height='200')


                                    //.col-lg-4
                                    //    .ibox.float-e-margins
                                    //        .ibox-title
                                    //            h5 Constitutional Underpinnings
                                    //            div(ibox-tools='')
                                    //        .ibox-content
                                    //            div
                                    //                canvas#CUChart(height='140')
                                    //.col-lg-4
                                    //    .ibox.float-e-margins
                                    //        .ibox-title
                                    //            h5 Civil Rights and Liberties
                                    //            div(ibox-tools='')
                                    //        .ibox-content
                                    //            div
                                    //                canvas#CUChart2(height='140')
                                    //.col-lg-4
                                    //    .ibox.float-e-margins
                                    //        .ibox-title
                                    //            h5 Political Beliefs and Behaviors
                                    //            div(ibox-tools='')
                                    //        .ibox-content
                                    //            div
                                    //                canvas#CUChart3(height='140')
                                .row
                                    .col-sm-4
                                        .panel.panel-primary
                                            .panel-heading.text-nowrap.text-center
                                                | Linkage<br />Institutions
                                            .panel-body
                                                .div
                                                    canvas#CUChart4(height='220')
                                    .col-sm-4
                                        .panel.panel-primary
                                            .panel-heading.text-nowrap.text-center
                                                | Public<br />Policy
                                            .panel-body
                                                .div
                                                    canvas#CUChart5(height='220')
                                    .col-sm-4
                                        .panel.panel-primary
                                            .panel-heading.text-nowrap.text-center
                                                | Institutions of<br />National Government
                                            .panel-body
                                                .div
                                                    canvas#CUChart6(height='220')
                                //.row
                                //    .col-lg-4
                                //        .ibox.float-e-margins
                                //            .ibox-title
                                //                h5 Linkage Institutions
                                //                div(ibox-tools='')
                                //            .ibox-content
                                //                div
                                //                    canvas#CUChart4(height='140')
                                //    .col-lg-4
                                //        .ibox.float-e-margins
                                //            .ibox-title
                                //                h5 Public Policy
                                //                div(ibox-tools='')
                                //            .ibox-content
                                //                div
                                //                    canvas#CUChart5(height='140')
                                //    .col-lg-4
                                //        .ibox.float-e-margins
                                //            .ibox-title
                                //                h5 Institutions of National Government
                                //                div(ibox-tools='')
                                //            .ibox-content
                                //                div
                                //                    canvas#CUChart6(height='140')
                            .visible-xs
                                .row
                                    .col-xs-6
                                        .panel.panel-primary
                                            .panel-heading.text-nowrap.text-center
                                                | Constitutional<br />Underpinnings
                                            .panel-body
                                                .div
                                                    canvas#CUChart-xs(height='220')
                                    .col-xs-6
                                        .panel.panel-primary
                                            .panel-heading.text-nowrap.text-center
                                                | Civil Rights<br />and Liberties
                                            .panel-body
                                                .div
                                                    canvas#CUChart2-xs(height='220')
                                .row
                                    .col-xs-6
                                        .panel.panel-primary
                                            .panel-heading.text-nowrap.text-center
                                                | Political Beliefs<br />and Behaviors
                                            .panel-body
                                                .div
                                                    canvas#CUChart3-xs(height='220')
                                    .col-xs-6
                                        .panel.panel-primary
                                            .panel-heading.text-nowrap.text-center
                                                | Linkage<br />Institutions
                                            .panel-body
                                                .div
                                                    canvas#CUChart4-xs(height='220')
                                .row
                                    .col-xs-6
                                        .panel.panel-primary
                                            .panel-heading.text-nowrap.text-center
                                                | Public<br />Policy
                                            .panel-body
                                                .div
                                                    canvas#CUChart5-xs(height='220')
                                    .col-xs-6
                                        .panel.panel-primary
                                            .panel-heading.text-nowrap.text-center
                                                | Institutions of<br />National Government
                                            .panel-body
                                                .div
                                                    canvas#CUChart6-xs(height='220')
                    //shows tables side by side for larger screen
                    .visible-lg
                        .row
                            .col-lg-6
                                .ibox.float-e-margins
                                    .ibox-title
                                        h5 Top Missed Questions
                                        .ibox-tools
                                            a.collapse-link
                                                i.fa.fa-chevron-up
                                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                                i.fa.fa-wrench
                                            ul.dropdown-menu.dropdown-user
                                                li
                                                    a(href='#') Config option 1
                                                li
                                                    a(href='#') Config option 2
                                            a.close-link
                                                i.fa.fa-times
                                    .ibox-content
                                        .row
                                            .col-sm-5.m-b-xs
                                                select.input-sm.form-control.input-s-sm.inline
                                                    option(value='0') Option 1
                                                    option(value='1') Option 2
                                                    option(value='2') Option 3
                                                    option(value='3') Option 4
                                            .col-sm-4.m-b-xs
                                                .btn-group(data-toggle='buttons')
                                                    label.btn.btn-sm.btn-white
                                                        input#option1(type='radio', name='options')
                                                        |  Day
                                                    label.btn.btn-sm.btn-white.active
                                                        input#option2(type='radio', name='options')
                                                        |  Week
                                                    label.btn.btn-sm.btn-white
                                                        input#option3(type='radio', name='options')
                                                        |  Month
                                            .col-sm-3
                                                .input-group
                                                    input.input-sm.form-control(type='text', placeholder='Search')
                                                    span.input-group-btn
                                                        button.btn.btn-sm.btn-primary(type='button')  Go!
                                        .table-responsive
                                            table.table.table-striped
                                                thead
                                                    tr
                                                        th Question
                                                        th Mastered
                                                        th Mised
                                                tbody
                                                    tr
                                                        td
                                                            | Project
                                                            small This is example of project
                                                        td
                                                            span.pie 0.52/1.561
                                                        td 20%
                                                    tr
                                                        td Alpha project
                                                        td
                                                            span.pie 6,9
                                                        td 40%
                                                    tr
                                                        td Betha project
                                                        td
                                                            span.pie 3,1
                                                        td 75%
                                                    tr
                                                        td Gamma project
                                                        td
                                                            span.pie 4,9
                                                        td 18%
                            .col-lg-6
                                .ibox.float-e-margins
                                    .ibox-title
                                        h5 Student Preformance List
                                        .ibox-tools
                                            a.collapse-link
                                                i.fa.fa-chevron-up
                                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                                i.fa.fa-wrench
                                            ul.dropdown-menu.dropdown-user
                                                li
                                                    a(href='#') Config option 1
                                                li
                                                    a(href='#') Config option 2
                                    .ibox-content
                                        table.table.table-hover
                                            thead
                                                tr
                                                    th <br />#
                                                    th <br />Student Username
                                                    th Precent of<br />all mastered
                                            tbody
                                                each studentObject, index in studentsList
                                                    tr
                                                        td #{index+1}
                                                        td #{studentObject.email}
                                                        td #{studentObject.totalMastery}
                    //shows two tables not side by side for smaller screens
                    .hidden-lg
                        .row
                            .col-sm-12
                                .ibox.float-e-margins
                                    .ibox-title
                                        h5 Top Missed Questions
                                        .ibox-tools
                                            a.collapse-link
                                                i.fa.fa-chevron-up
                                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                                i.fa.fa-wrench
                                            ul.dropdown-menu.dropdown-user
                                                li
                                                    a(href='#') Config option 1
                                                li
                                                    a(href='#') Config option 2
                                            a.close-link
                                                i.fa.fa-times
                                    .ibox-content
                                        .row
                                            .col-sm-5.m-b-xs
                                                select.input-sm.form-control.input-s-sm.inline
                                                    option(value='0') Option 1
                                                    option(value='1') Option 2
                                                    option(value='2') Option 3
                                                    option(value='3') Option 4
                                            .col-sm-4.m-b-xs
                                                .btn-group(data-toggle='buttons')
                                                    label.btn.btn-sm.btn-white
                                                        input#option1(type='radio', name='options')
                                                        |  Day
                                                    label.btn.btn-sm.btn-white.active
                                                        input#option2(type='radio', name='options')
                                                        |  Week
                                                    label.btn.btn-sm.btn-white
                                                        input#option3(type='radio', name='options')
                                                        |  Month
                                            .col-sm-3
                                                .input-group
                                                    input.input-sm.form-control(type='text', placeholder='Search')
                                                    span.input-group-btn
                                                        button.btn.btn-sm.btn-primary(type='button')  Go!
                                        .table-responsive
                                            table.table.table-striped
                                                thead
                                                    tr
                                                        th Question
                                                        th Mastered
                                                        th Mised
                                                tbody
                                                    tr
                                                        td
                                                            | Project
                                                            small This is example of project
                                                        td
                                                            span.pie 0.52/1.561
                                                        td 20%
                                                    tr
                                                        td Alpha project
                                                        td
                                                            span.pie 6,9
                                                        td 40%
                                                    tr
                                                        td Betha project
                                                        td
                                                            span.pie 3,1
                                                        td 75%
                                                    tr
                                                        td Gamma project
                                                        td
                                                            span.pie 4,9
                                                        td 18%
                        .row
                            .col-lg-12
                                .ibox.float-e-margins
                                    .ibox-title
                                        h5 Student Preformance List
                                        .ibox-tools
                                            a.collapse-link
                                                i.fa.fa-chevron-up
                                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                                i.fa.fa-wrench
                                            ul.dropdown-menu.dropdown-user
                                                li
                                                    a(href='#') Config option 1
                                                li
                                                    a(href='#') Config option 2
                                    .ibox-content
                                        table.table.table-hover
                                            thead
                                                tr
                                                    th <br />#
                                                    th <br />Student Username
                                                    th Precent of<br />all mastered
                                            tbody
                                                each studentObject, index in studentsList
                                                    tr
                                                        td #{index + 1}
                                                        td #{studentObject.email}
                                                        td #{studentObject.totalMastery}
                .footer
                    .pull-right
                        | 10GB of
                        strong 250GB
                        |  Free.
                    div
                        strong Copyright
                        |  Example Company &copy; 2014-2015
        // Mainly scripts
        script(src='js/jquery-2.1.1.js')
        script(src='js/bootstrap.min.js')
        script(src='js/plugins/metisMenu/jquery.metisMenu.js')
        script(src='js/plugins/slimscroll/jquery.slimscroll.min.js')
        // Custom and plugin javascript
        script(src='js/inspinia.js')
        script(src='js/plugins/pace/pace.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js')
        script(type='text/javascript').
            var ctx = document.getElementById("TotalChart").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(totalData)}, !{JSON.stringify(totalOptions)});

            var ctx = document.getElementById("CUChart").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(CUData)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart2").getContext("2d");
            var myNewChart2 = new Chart(ctx).Doughnut(!{JSON.stringify(Civil_Rights_and_Liberties_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart3").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(Political_Beliefs_and_Behaviors_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart4").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(Linkage_Institutions_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart5").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(Public_Policy_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart6").getContext("2d");
            var myNewChart2 = new Chart(ctx).Doughnut(!{JSON.stringify(Institutions_of_National_Government_Data)}, !{JSON.stringify(SectionOptions)});

            //to have for smaller screens

            var ctx = document.getElementById("CUChart-xs").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(CUData)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart2-xs").getContext("2d");
            var myNewChart2 = new Chart(ctx).Doughnut(!{JSON.stringify(Civil_Rights_and_Liberties_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart3-xs").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(Political_Beliefs_and_Behaviors_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart4-xs").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(Linkage_Institutions_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart5-xs").getContext("2d");
            var myNewChart = new Chart(ctx).Doughnut(!{JSON.stringify(Public_Policy_Data)}, !{JSON.stringify(SectionOptions)});

            var ctx = document.getElementById("CUChart6-xs").getContext("2d");
            var myNewChart2 = new Chart(ctx).Doughnut(!{JSON.stringify(Institutions_of_National_Government_Data)}, !{JSON.stringify(SectionOptions)});
